h1 {
	font-size: 20px;
	color: #fff;
	font-weight: 300;
	text-align: left;
	margin-bottom: 5px;
}

a {
	font-size: 20px;
	color: #fcac00;
	font-weight: bold;
	text-align: left;
	text-decoration: none;
}

h3 {
	font-size: 20px;
	color: #fff;
	font-weight: bold;
	text-align: left;
}

a:hover {
	color: #ffc500;
}

ul {
	list-style: none;
}

li {
	margin-bottom: 8px;"
	
}

li span{
	color: white;
	
}

li select{
	margin-left: 3px;
	padding: 3px 42px;
}
.button-submit2{
  cursor: pointer;
  background-color: #fcac00;
  color: white;
  font-size: 15px;
  padding: 3px 90px;
  margin-left: 77px;
}


table {
	width: 100%;
	table-layout: fixed;
}

.tbl-header {
	background-color: rgba(255, 255, 255, 0.3);
}

.tbl-content {
	height: 660px;
	overflow-x: auto;
	margin-top: 0px;
	border: 1px solid rgba(255, 255, 255, 0.5);
}

.tbl-content1 {
	height: 615px;
	overflow-x: auto;
	margin-top: 0px;
	border: 1px solid rgba(255, 255, 255, 0.5);
}

.tbl-content2 {
	height: 600px;
	overflow-x: auto;
	margin-top: 0px;
	border: 1px solid rgba(255, 255, 255, 0.5);
}



th {
	padding: 5px;
	text-align: left;
	font-weight: 500;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
}

td {
	padding: 5px;
	text-align: left;
	vertical-align: middle;
	font-weight: 300;
	font-size: 12px;
	color: #fff;
	border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

/* demo styles */
@import
	url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

body {
	/* background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  */
	background: url(../images/bg-body.jpg) repeat;
	font-family: 'Roboto', sans-serif;
}

section {
	margin: 10px;
}


/* for custom scrollbar for webkit browser*/
::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}